services:
  postgres:
    container_name: psql
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
       - ./db/psql/init:/docker-entrypoint-initdb.d
       - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: